Hello!

<table>
	<th>Order ID</th><th>Order Name</th><th>Order Quantity</th><th>Actions</th>
	<tr ng-repeat="order in orders">
	  <td>{{order.id}}</td><td>{{order.name}}</td><td>{{order.quantity}}</td><td><a href="index.html#/orders/{{order.id}}">Show</a>
		<a href="index.html#/orders/edit/{{order.id}}">Edit</a><a href="" ng-click="destroy()">&nbspDelete</a></td>	
	</tr>
</table>
Add an order:
<br>
<a href="index.html#/new">Add</a>
<br><br>
{{orders}}






  <!-- CACHE FILE: list.html 
  
    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <table>
      <thead>
      <tr>
        <th>Project</th>
        <th>Description</th>
        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="project in projects | orderByPriority | filter:search | orderBy:'name'">
        <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
        <td>{{project.description}}</td>
        <td>
          <a href="#/edit/{{project.$id}}"><i class="icon-pencil"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  

-->

  <!-- CACHE FILE: detail.html 
  
    <form name="myForm">
      <div class="control-group" ng-class="{error: myForm.name.$invalid}">
        <label>Name</label>
        <input type="text" name="name" ng-model="project.name" required>
        <span ng-show="myForm.name.$error.required" class="help-inline">
            Required</span>
      </div>
    
      <div class="control-group" ng-class="{error: myForm.site.$invalid}">
        <label>Website</label>
        <input type="url" name="site" ng-model="project.site" required>
        <span ng-show="myForm.site.$error.required" class="help-inline">
            Required</span>
        <span ng-show="myForm.site.$error.url" class="help-inline">
            Not a URL</span>
      </div>
    
      <label>Description</label>
      <textarea name="description" ng-model="project.description"></textarea>
    
      <br>
      <a href="#/" class="btn">Cancel</a>
      <button ng-click="save()" ng-disabled="myForm.$invalid"
              class="btn btn-primary">Save</button>
      <button ng-click="destroy()"
              ng-show="project.$remove" class="btn btn-danger">Delete</button>
    </form>
  
</div>
-->